<%% title "<%= singular_name.titleize %>" %>

<%- for attribute in attributes -%>
<p>
  <strong><%= attribute.column.human_name %>:</strong>
  <%%=h @<%= singular_name %>.<%= attribute.name %> %>
</p>
<%- end -%>

<p>
  <%%= link_to "Edit", edit_<%= singular_name %>_path(@<%= singular_name %>) %> |
  <%%= link_to "Destroy", @<%= singular_name %>, :confirm => 'Are you sure?', :method => :delete %> |
  <%%= link_to "View All", <%= plural_name %>_path %>
</p>
