- title "<%= plural_name.titleize %>"

%table
  %tr
    <%- for attribute in model_attributes -%>
    %th <%= attribute.human_name %>
    <%- end -%>
  - for <%= instance_name %> in @<%= instances_name %>
    %tr
      <%- for attribute in model_attributes -%>
      %td= <%= instance_name %>.<%= attribute.name %>
      <%- end -%>
      <%- if action? :show -%>
      %td= link_to 'Show', <%= item_path %>
      <%- end -%>
      <%- if action? :edit -%>
      %td= link_to 'Edit', <%= item_path :action => :edit %>
      <%- end -%>
      <%- if action? :destroy -%>
      %td= link_to 'Destroy', <%= item_path %>, :confirm => 'Are you sure?', :method => :delete
      <%- end -%>

<%- if actions? :new -%>
%p= link_to "New <%= singular_name.titleize %>", <%= item_path :action => :new %>
<%- end -%>
