= form_for @<%= user_singular_name %> do |f|
  = f.error_messages
  %p
    = f.label :username
    %br
    = f.text_field :username
  %p
    = f.label :email, "Email Address"
    %br
    = f.text_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation, "Confirm Password"
    %br
    = f.password_field :password_confirmation
  %p
    = f.submit (@<%= user_singular_name %>.new_record? ? "Sign up" : "Update")
