= form_for @<%= user_singular_name %> do |f|
  = f.error_messages
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :email, "Email Address"
    = f.text_field :email
  .field
    = f.label :password
    = f.password_field :password
  .field
    = f.label :password_confirmation, "Confirm Password"
    = f.password_field :password_confirmation
  .actions
    = f.submit (@<%= user_singular_name %>.new_record? ? "Sign up" : "Update")
