- title "Log in"

%p== Don't have an account? #{link_to "Sign up!", signup_path}

<%- if options[:authlogic] -%>
= form_for @<%= session_singular_name %> do |f|
  = f.error_messages
  .field
    = f.label :username
    = f.text_field :username
  .field
    = f.label :password
    = f.password_field :password
  .actions
    = f.submit "Log in"
<%- else -%>
- form_tag <%= session_plural_name %>_path do
  .field
    = label_tag :login, "Username or Email Address"
    = text_field_tag :login, params[:login]
  .field
    = label_tag :password
    = password_field_tag :password
  .actions
    = submit_tag "Log in"
<%- end -%>
