- title "Sign up"

%p== Already have an account? #{link_to "Log in", login_path}.

- form_for @<%= user_singular_name %> do |f|
  - if @<%= user_singular_name %>.errors.any?
    #error_explanation
      %h2 = "#{pluralize(@<%= user_singular_name %>.errors.count, "error") } prohibited this <%= user_singular_name %> from being saved:"
      %ul
        - @<%= user_singular_name %>.errors.full_messages.each do |msg|
          %li = msg
  %p
    = f.label :username
    %br
    = f.text_field :username
  %p
    = f.label :email, "Email Address"
    %br
    = f.text_field :email
  %p
    = f.label :password
    %br
    = f.password_field :password
  %p
    = f.label :password_confirmation, "Confirm Password"
    %br
    = f.password_field :password_confirmation
  %p
    = f.submit "Sign up"
