<%% title "<%= plural_name.titleize %>" %>

<table>
  <tr>
  <%- for attribute in model_attributes -%>
    <th><%= attribute.human_name.titleize %></th>
  <%- end -%>
  </tr>
  <%% for <%= instance_name %> in @<%= instances_name %> %>
    <tr>
    <%- for attribute in model_attributes -%>
      <td><%%= <%= instance_name %>.<%= attribute.name %> %></td>
    <%- end -%>
    <%- if action? :show -%>
      <td><%%= link_to "Show", <%= instance_name %> %></td>
    <%- end -%>
    <%- if action? :edit -%>
      <td><%%= link_to "Edit", edit_<%= instance_name %>_path(<%= instance_name %>) %></td>
    <%- end -%>
    <%- if action? :destroy -%>
      <td><%%= link_to "Destroy", <%= instance_name %>, :confirm => 'Are you sure?', :method => :delete %></td>
    <%- end -%>
    </tr>
  <%% end %>
</table>

<%- if action? :new -%>
<p><%%= link_to "New <%= singular_name.titleize %>", new_<%= instance_name %>_path %></p>
<%- end -%>
