<%% title "<%= singular_name.titleize %>" %>

<%- for attribute in model_attributes -%>
<p>
  <strong><%= attribute.human_name.titleize %>:</strong>
  <%%= @<%= instance_name %>.<%= attribute.name %> %>
</p>
<%- end -%>

<p>
<%- if action? :edit -%>
  <%%= link_to "Edit", <%= item_path :action => :edit, :instance_variable => true %> %> |
<%- end -%>
<%- if action? :destroy -%>
  <%%= link_to "Destroy", <%= item_path :instance_variable => true %>, :confirm => 'Are you sure?', :method => :delete %> |
<%- end -%>
<%- if action? :index -%>
  <%%= link_to "View All", <%= items_path %> %>
<%- end -%>
</p>
