<%% title "<%= singular_name.titleize %>" %>

<%- for attribute in model_attributes -%>
<p>
  <strong><%= attribute.human_name.titleize %>:</strong>
  <%%= @<%= instance_name %>.<%= attribute.name %> %>
</p>
<%- end -%>

<p>
<%- if action? :edit -%>
  <%%= link_to "Edit", edit_<%= instance_name %>_path(@<%= instance_name %>) %> |
<%- end -%>
<%- if action? :destroy -%>
  <%%= link_to "Destroy", @<%= instance_name %>, :confirm => 'Are you sure?', :method => :delete %> |
<%- end -%>
<%- if action? :index -%>
  <%%= link_to "View All", <%= instance_name %>_path %>
<%- end -%>
</p>
